{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block titulo %}{{module.name}}{% if submodule %} - {{submodule.name}}{% endif %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href='{% static "anopa/images/favicon.svg" %}'>

    <link href='{% static "plugins/jquery-toastr/jquery.toast.min.css" %}' rel="stylesheet" type="text/css" />

    <link href='{% static "assets/css/bootstrap.min.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "assets/css/core.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "assets/css/components.css" %}' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='{% static "assets/css/pages.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "assets/css/menu.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "assets/css/responsive.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "anopa/anopa.css" %}' rel="stylesheet" type="text/css" />

    {% block css %}{% endblock %}


    <script src='{% static "assets/js/modernizr.min.js" %}'></script>

  </head>


  <body>
    <div class="se-pre-con"></div>

    <header id="topnav">
      <div class="topbar-main">
          <div class="container">

            <div class="logo">

                <a href="{% url 'front:informes' %}" class="logo">
                  <img src='{% static "anopa/images/icono.svg" %}' alt="" height="40"> <small>{{ comunidad }}</small>
                </a>
            </div>

            <div class="menu-extras">

              <ul class="nav navbar-nav navbar-right pull-right">

                <li class="dropdown navbar-c-items">
                    <a href="" class="dropdown-toggle waves-effect profile" data-toggle="dropdown" aria-expanded="true"><img src="{% static 'assets/images/icons/assistant.svg' %}" alt="user-img" class="img-circle"> </a>
                    <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                        <li class="text-center">
                            <h5>Hola, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h5>
                        </li>
                        <li><a href="{% url 'front:perfil' %}"><i class="fa fa-user m-r-10"></i> Perfil</a></li>
                        <li>
                          <form action="{% url 'front:change-community' %}" method="POST">{% csrf_token %}
                            <select class="selector form-control" name="community" id="change-community" value="{{comunidad.id}}">
                              {% for com in user.perfil_set.first.comunidades.all %}
                                <option {%if com.id == comunidad.id %}selected disabled{%endif%} value="{{com.id}}">{{com.nombre}}</option>
                              {% endfor %}
                            </select>
                          </form>
                          
                        </li>
                        <li><a href="{% url 'front:biblioteca' %}"><i class="fa fa-book-bookmark m-r-10"></i> Biblioteca</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off m-r-10"></i> Logout</a></li>
                    </ul>

                </li>
              </ul>

              <div class="menu-item">
                  <a class="navbar-toggle">
                      <div class="lines">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </a>
              </div>

            </div>

          </div>
      </div>

      <div class="navbar-custom">
        <div class="container">
          <div id="navigation">
            <ul class="navigation-menu">
              {% include 'tools/navbar.html' %}
            </ul>
          </div>
        </div>
      </div>
    </header>


    <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">

                <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                      <li {% if not submodule %}class="active"{% endif %}>
                        <a href="{% url module.path %}">{{ module.name }}</a>
                      </li>
                      {% if submodule %}
                        <li class="active">
                          {{ submodule.name }}
                        </li>                      
                      {% endif %}                      
                  </ol>
                </div>
                
                <h4 class="page-title">{% block header %}{{module.name}}{% endblock %}</h4>
              </div>
              {% if validacion_demo %}
                <div class="alert alert-icon alert-white alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="mdi mdi-alert"></i>
                    Algunas funcionalidades estan deshabilitadas para este usuario.
                </div>
              {% endif %}
            </div>
          </div>
            <div class="row">
              {% if side_buttons %}
                <div class="col-md-3">
                  {% include 'tools/side-buttons.html' %}
                  {% if side_chart %}
                    {% include 'tools/side-chart.html' %}
                  {% endif %}
                </div>
              {% endif %}
              <div class="col-md-{% if side_buttons %}9{% else %}12{% endif %}">
                {% block contenido %}{% endblock %}
              </div>
            </div>
        </div>


        <footer class="footer text-right">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                  Website by <b>AdminSmart</b>
              </div>
            </div>
          </div>
        </footer>

    </div>

    <script src='{% static "assets/js/jquery.min.js" %}'></script>
    <script src='{% static "assets/js/bootstrap.min.js" %}'></script>
    <script src='{% static "assets/js/waves.js" %}'></script>
    <script src='{% static "assets/js/jquery.slimscroll.js" %}'></script>
    <script src='{% static "plugins/waypoints/jquery.waypoints.min.js" %}'></script>
    <script src='{% static "plugins/counterup/jquery.counterup.min.js" %}'></script>
    <script src='{% static "plugins/jquery-toastr/jquery.toast.min.js" %}'></script>
    <script src='{% static "anopa/anopa.js" %}'></script>
    {% block js %}{% endblock %}
    <script src='{% static "assets/js/jquery.core.js" %}'></script>
    <script src='{% static "assets/js/jquery.app.js" %}'></script>
    <script src='{% static "plugins/jquery-validation/jquery.validate.js" %}'></script>
    <script src='{% static "plugins/jquery-validation/localization/messages_es.js" %}'></script>
    {% if side_chart %}
      <script src='{% static "plugins/echart/echarts-all.js" %}'></script>
      {% include 'tools/js/echarts/index.html' with chart=side_chart %}
    {% endif %}

    {% if messages %}
        <script>
          {% for message in messages %}
            $(document).ready(function(){
              $.toast({
                  heading: '{% if message.tags == "success" %}Bien hecho!{% else %}Ups!{% endif %}',
                  text: '{{message}}',
                  position: 'top-right',
                  loaderBg: '{% if message.tags == "success" %}#5ba035{%else%}#bf441d{% endif %}',
                  icon: '{{message.tags}}',
                  hideAfter: 6000,
                  stack: 1
              });
            });
          {% endfor %}
        </script>
    {% endif %}
      
    <script>
      $('.dropdown-menu').click(function(e) {
          e.stopPropagation();
      });
    </script>
    <script>
      $("#change-community").change(function() {
        this.form.submit(); 
      });
    </script>

  </body>
</html>