{% extends 'pdfs/base.html' %}
{% load humanize %}

{% block content %}
  
  {% include 'pdfs/pagos.html' %}
  
  {% if documento.retenciones %}
  <hr>
  <p><strong>Retenciones generadas:</strong></p>
  <table>
    <thead>
      <tr>
        <th>Retencion</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for retencion in documento.retenciones %}
        <tr>
            <td>{{ retencion.documento.receipt.receipt_type }}</td>
            <td>-{{ retencion.monto|intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endblock %}

{% block totals %}

  <div class="taxpayer-details group">
    <div class="receipt-details">
      <hr>
      <p><strong>Medios de pago:</strong></p>
      <table>
        {% for s in documento.utilizaciones_saldos.all %}
          <tr>
            <td>{{s.vinculo.documento.receipt.receipt_type}} {{s.vinculo.documento.receipt.formatted_number}}</td>
            <td>{{s.detalle|default:""}}</td>
            <td>{{s.monto|intcomma}}</td>
          </tr>
        {% endfor %}
        {% for d in documento.utilizaciones_disponibilidades.all %}
          <tr>
            <td>{{d.vinculo.documento.receipt.receipt_type}} {{d.vinculo.documento.receipt.formatted_number}}</td>
            <td>{{d.detalle|default:""}}</td>
            <td>{{d.monto|intcomma}}</td>
          </tr>
        {% endfor %}        
        {% for c in documento.cajas.all %}
          <tr>
            <td>{{c.cuenta}}</td>
            <td>{{c.detalle|default:""}}</td>
            <td>{{c.valor|intcomma}}</td>
          </tr>
        {% endfor %}
          <tr>
            <th>Total del comprobante</th>
            <th></th>
            <th>{{ documento.receipt.total_amount|intcomma }}</th>
          </tr>
      </table>
    </div>
  </div>

{% endblock %}      
