{% load rest_framework %}

<form id="process" action="{{ vista }}" method="{{method|default:'POST'}}" enctype="multipart/form-data">{% csrf_token %}
  <div class="panel panel-border panel-default">
    {% if module_handler %}
    <div class="panel-heading">
      <h3 class="panel-title">{{ module_handler|capfirst }} {{ object }}</h3>
    </div>
    {% endif %}    
    <div class="panel-body">
      {% if 'titulo' in form.errors.keys %}
        <div class="alert alert-icon alert-white alert-danger" role="alert">
          <i class="fa fa-warning"></i>
          {{form.errors.titulo.0}}
        </div>      
      {% endif %}
      {% if disabled %}
      <div class="alert alert-icon alert-white alert-warning" role="alert">
        <i class="fa fa-warning"></i>
        {{disabled}}
      </div>      
    {% endif %}
      {% render_form form %}
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-6">
          <a href="javascript:history.back()" class="btn btn-bordered btn-default btn-block">Cancelar</a>
        </div>
        <div class="col-xs-6">
          <button 
            type="submit" 
            class="accion_envio btn btn-bordered btn-primary btn-block"
            {% if disabled %}disabled{% endif %}
            >
            Guardar
        </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% if disabled %}
  <script>
    $('.form-control').attr('disabled', 'disabled')
  </script>
{% endif %}