{% if form.resultados %}
<div class="row">
    <div class="col-md-12">
    <div class="portlet">
        <div class="portlet-heading bg-info">
            <h3 class="portlet-title">Ingresos/Gastos a generar</h3>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion-resultados" href="#portlet-resultados"><i class="fa fa-minus"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="portlet-resultados" class="panel-collapse collapse in">
            <div class="portlet-body">
            </div>
        </div>
    </div>             
    </div>
</div>
{% endif %}