{% if form.utilizaciones_saldos %}
<div class="row">
    <div class="col-md-12">
    <div class="portlet">
        <div class="portlet-heading bg-info">
            <h3 class="portlet-title">Utilizar saldos anteriores</h3>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion-utilizaciones-saldos" href="#portlet-utilizaciones-saldos"><i class="fa fa-minus"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="portlet-utilizaciones-saldos" class="panel-collapse collapse in">
            <div class="portlet-body">
            </div>
        </div>
    </div>             
    </div>
</div>
{% endif %}