{% load personal_tags %}
<div class="card-box ribbon-box">
    <div class="ribbon ribbon-purple">Filtrar por</div>

    <form action="" method="GET">
        <div class="row">
            <div class="col-md-12">
                {% for field in filter.form %}
                    <p> {{field.label_tag}} </p>
                    <p>{{ field|add_attr:"class:form-control"}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8">
                <button class="btn btn-purple btn-block" type="submit">Filtrar</button>
            </div>
        </div>

    </form>
</div>