{% extends 'pdfs/base.html' %}
{% load humanize %}

{% block content %}

  {% include 'pdfs/creditos.html' %}

{% endblock %}


{% block totals %}
  <div class="taxpayer-details group">
    <div class="receipt-details">
      <table>
        <tr>
          <th>Total facturado:</th>
          <th>${{ pdf.DOC_TOTAL }}</th>
        </tr>
      </table>
    </div>
  </div>  
{% endblock %}      


{% block footer %}

  {% include 'pdfs/barcode.html' with items=pdf.CREDITOS %}

{% endblock %}      

