{% load humanize %}

<p><strong>Detalle de cobros:</strong></p>
<table>
  <thead>
    <tr>
      <th>Unidad</th>
      <th>Concepto</th>
      <th>Periodo</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for c in pdf.COBROS %}
      <tr>
        <td>{{ c.CUENTA }}</td>
        <td>{{ c.CONCEPTO }}{% if c.DETALLE %}*{% endif %}</td>
        <td>{{ c.PERIODO }}</td>
        <td>{{ c.MONTO }}</td>
      </tr>
    {% endfor %}
    {% if pdf.A_CUENTA %}
      {% with a_cuenta=pdf.A_CUENTA|first %}
        <tr>
          <td>Nuevo saldo a favor</td>
          <td></td>
          <td></td>
          <td>{{ a_cuenta.MONTO }}</td>
        </tr>
      {% endwith %}
    {% endif %}
  </tbody>
</table>