{% load humanize %}

<p><strong>Detalle de creditos generados:</strong></p>
<table>
  <thead>
    <tr>
      <th>Concepto</th>
      <th>Periodo</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for c in pdf.CREDITOS %}
      <tr>
        <td>{{ c.CONCEPTO }}{% if c.DETALLE %}*{% endif %}</td>
        <td>{{ c.PERIODO }}</td>
        <td>{{ c.MONTO }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p><strong>* Detalles:</strong></p>
<p>
  <ul>
    {% for c in pdf.CREDITOS %}
      {% if c.DETALLE %}
        <li>{{c.DETALLE}}</li>
      {% endif %}
    {% endfor %}
  </ul>
</p>
