@import "./assets/scss/app.scss";
@import '../node_modules/react-redux-toastr/src/styles/index';

.error-feedback {
  @extend .invalid-feedback;
  display: block !important;
}

// Start: Overwritting modal styles
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1240px !important;
  }
}
// End: Overwritting modal styles

.button-clip-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  > div {
    margin-right: 1em;
  }
}