{% extends 'layout.html' %}
{% load humanize %}
{% load to_space %}
{% load formatter %}
{% load staticfiles %}

{% block assets %}
  {% include 'assets/datatable.html' with print_excel_titulo=1 %}
{% endblock %}

{% block contenido %}
<div class="panel panel-border panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{ module.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" >

          <table class="table table-condensed anopa display nowrap" style="width:100%">
            <thead>
              <tr>
                <th width="20"></th>                     
                {% for title in titles %}
                  {% if not title in "id,supertitulo" %}
                    <th>{{title|to_space|capfirst}}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for object in objects %}
              <tr {% if not object.supertitulo %}class="info"{% endif %}>
                <td>
                  <a href="{% url 'front:contabilidad:cuenta' pk=object.id %}" title="Ver detalle de {{module_handler}}" class="btn btn-icon btn-bordered tooltip-animation btn-primary btn-xs">
                    <i class="fa fa-address-card"></i>
                </a>      
                </td>                            
                {% for key, value in object.items %}
                  {% if not key in "id,supertitulo" %}
                    <td>{{ value|formatter }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}