{% load rest_framework %}

{% if form.creditos %}
    <div class="row">
        <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-heading bg-info">
                <h3 class="portlet-title">Items del comprobante</h3>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion-creditos" href="#portlet-creditos"><i class="fa fa-minus"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-collapse collapse in">
                <div class="portlet-body" id="portlet-creditos" >
                    <table>
                        <tr>
                            <td>{% render_field form.creditos.child.destinatario style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.concepto style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.monto style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.fecha_indicativa style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.fecha_gracia style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.fecha_vencimiento style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.detalle style=vertical_style %}</td>
                            <td>{% render_field form.creditos.child.cantidad style=vertical_style %}</td>
                            <td><button class="btn btn-link"><span class="fa fa-plus"></span></button></td>
                        </tr>
                        <tr v-for="c in creditos" :key="c.id">
                            <td>{& c &}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#portlet-creditos',
            delimiters: ['{&', '&}'],
            data: {
                creditos: data.creditos
            }

        }) 
    </script>


{% endif %}

