<li class="has-submenu">
  <a href="{% url 'front:home' %}"><i class="fi-air-play"></i>Home</a>
</li>

{% if user.groups.all.0.name == "socio" %}

  <li class="has-submenu">
    <a href="s"><i class="fi-paper"></i>Mis deudas</a>
  </li>
  <li class="has-submenu">
    <a href="s"><i class="fi-circle-check"></i>Mis movimientos</a>
  </li>
  <li class="has-submenu">
    <a href="a"><i class="fi-content-left"></i>Reportes</a>
  </li>
  <li class="has-submenu">
    <a href="s"><i class="fi-book"></i>Perfil</a>
  </li>


{% else %}

  <li class="has-submenu">
    <a href="{% url 'front:clientes:index' %}"><i class="fi-download"></i>Cuentas a cobrar</a>
  </li>
  <li class="has-submenu">
    <a href="{% url 'front:proveedores' %}"><i class="fi-upload"></i>Cuentas a pagar</a>
  </li>
  <li class="has-submenu">
    <a href="{% url 'front:tesoreria' %}"><i class="fi-shuffle"></i>Tesoreria</a>
  </li>
  <li class="has-submenu">
    <a href="{% url 'front:contabilidad' %}"><i class="fi-briefcase"></i>Contabilidad</a>
  </li>
  <li class="has-submenu">
    <a href="{% url 'front:informes' %}"><i class="fi-bar-graph-2"></i>Informes</a>
  </li>
  <li class="has-submenu">
    <a href="{% url 'front:configuracion:index' %}"><i class="fi-cog"></i>Configuración</a>
  </li>  

{% endif %}
