{% extends 'layout.html' %}
{% load staticfiles %}
{% load humanize %}
{% load rest_framework %}

{% block assets %}
  <script crossorigin src="{{react.core}}"></script>
  <script crossorigin src="{{react.dom}}"></script>
  <script src="{{react.babel}}"></script>
  <script type="text/babel" src='{% static "assets/js/react/documents/index.js" %}'></script>
{% endblock %}

{% block contenido %}
  {{ form.data|json_script:"initialData" }}
  {{ jsonify_choices|json_script:"choices" }}
  <div id="app"></div>
{% endblock %}

