{% extends 'layout.html' %}
{% load staticfiles %}
{% load humanize %}
{% load rest_framework %}

{% block assets %}
  <script src='{% static react.core %}'></script>
  <script src='{% static react.dom %}'></script>
  <script src='{% static react.babel %}'></script>
  <script type="text/babel" src='{% static "assets/js/react/documents.js" %}'></script>
{% endblock %}

{% block contenido %}
  {{ form.data|json_script:"initialData" }}
  {{ jsonify_choices|json_script:"choices" }}
  <div id="app"></div>
{% endblock %}

