<li class="has-submenu">
  <a href="{% url 'front:informes' %}"><i class="fi-bar-graph-2"></i>Informes</a>
</li>

{% if user.groups.all.0.name == "socio" %}

  <li class="has-submenu">
    <a href="s"><i class="fi-paper"></i>Mis deudas</a>
  </li>
  <li class="has-submenu">
    <a href="s"><i class="fi-circle-check"></i>Mis movimientos</a>
  </li>
  <li class="has-submenu">
    <a href="a"><i class="fi-content-left"></i>Reportes</a>
  </li>
  <li class="has-submenu">
    <a href="s"><i class="fi-book"></i>Perfil</a>
  </li>


{% else %}
  {% if 'cuentas-a-cobrar' in allowed_modules %}
    <li class="has-submenu">
      <a href="{% url 'front:clientes:index' %}"><i class="fi-download"></i>Cuentas a cobrar</a>
    </li>
  {% endif %}
  {% if 'cuentas-a-pagar' in allowed_modules %}
    <li class="has-submenu">
      <a href="{% url 'front:proveedores:index' %}"><i class="fi-upload"></i>Cuentas a pagar</a>
    </li>
  {% endif %}  
  {% if 'tesoreria' in allowed_modules %}
    <li class="has-submenu">
      <a href="{% url 'front:tesoreria:index' %}"><i class="fi-shuffle"></i>Tesoreria</a>
    </li>
  {% endif %}
  {% if 'stock' in allowed_modules %}
    <li class="has-submenu">
      <a href="{% url 'front:stock:index' %}"><i class="fi-layers"></i>Stock</a>
    </li>  
  {% endif %}
  {% if 'contabilidad' in allowed_modules %}
  <li class="has-submenu">
    <a href="{% url 'front:contabilidad:index' %}"><i class="fi-briefcase"></i>Contabilidad</a>
  </li>
  {% endif %}
  <li class="has-submenu">
    <a href="{% url 'front:configuracion:index' %}"><i class="fi-cog"></i>Configuración</a>
  </li>  

{% endif %}
