<li class="has-submenu {% if 'informes' in request.path %}active{% endif %}">
  <a href="{% url 'front:informes:index' %}"><i class="fa fa-line-chart"></i>Informes</a>
</li>

{% if user.groups.all.0.name == "socio" %}

  <li class="has-submenu">
    <a href="s"><i class="fi-paper"></i>Mis deudas</a>
  </li>
  <li class="has-submenu">
    <a href="s"><i class="fi-circle-check"></i>Mis movimientos</a>
  </li>
  <li class="has-submenu">
    <a href="a"><i class="fi-content-left"></i>Reportes</a>
  </li>
  <li class="has-submenu">
    <a href="s"><i class="fi-book"></i>Perfil</a>
  </li>


{% else %}
  {% if 'cuentas-a-cobrar' in allowed_modules %}
    <li class="has-submenu {% if 'cuentas-a-cobrar' in request.path %}active{% endif %}">
      <a href="{% url 'front:clientes:index' %}"><i class="fa fa-download"></i>Cuentas a cobrar</a>
    </li>
  {% endif %}
  {% if 'cuentas-a-pagar' in allowed_modules %}
    <li class="has-submenu {% if 'cuentas-a-pagar' in request.path %}active{% endif %}">
      <a href="{% url 'front:proveedores:index' %}"><i class="fa fa-upload"></i>Cuentas a pagar</a>
    </li>
  {% endif %}  
  {% if 'tesoreria' in allowed_modules %}
    <li class="has-submenu {% if 'tesoreria' in request.path %}active{% endif %}">
      <a href="{% url 'front:tesoreria:index' %}"><i class="fa fa-dollar"></i>Tesoreria</a>
    </li>
  {% endif %}
  {% if 'stock' in allowed_modules %}
    <li class="has-submenu {% if 'stock' in request.path %}active{% endif %}">
      <a href="{% url 'front:stock:index' %}"><i class="fa fa-boxes-stacked"></i>Stock</a>
    </li>  
  {% endif %}
  {% if 'contabilidad' in allowed_modules %}
  <li class="has-submenu {% if 'contabilidad' in request.path %}active{% endif %}">
    <a href="{% url 'front:contabilidad:index' %}"><i class="fa fa-list-check"></i>Contabilidad</a>
  </li>
  {% endif %}
  <li class="has-submenu {% if 'configuracion' in request.path %}active{% endif %}">
    <a href="{% url 'front:configuracion:index' %}"><i class="fa fa-gear"></i>Configuración</a>
  </li>  

{% endif %}
