{% extends 'layout.html' %}
{% load staticfiles %}
{% load humanize %}
{% load rest_framework %}

{% block assets %}
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/babel" src='{% static "assets/js/react/documents/index.js" %}'></script>
{% endblock %}

{% block contenido %}
  {{ form.data|json_script:"initialData" }}
  {{ jsonify_choices|json_script:"choices" }}
  <div id="app"></div>
{% endblock %}

