{% extends 'layout.html' %}
{% load humanize %}
{% load to_space %}
{% load formatter %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href='{% static "plugins/datatables/jquery.dataTables.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/buttons.bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/dataTables.bootstrap.min.css" %}'>
{% endblock %}

{% block contenido %}
<div class="panel panel-border panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{ module_handler|to_space|capfirst }} {{cuenta}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" >

          <table class="table table-striped anopa display nowrap" style="width:100%">
            <thead>
              <tr>
                <th width="20"></th>
                {% for title in titles %}
                  {% if title != "documento_id" %}
                    <th>{{title|to_space|capfirst}}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for object in objects %}
              <tr>
                <td class="text-center">
                  <a href="{{object.id}}/comprobante" class="btn btn-icon btn-bordered btn-info btn-xs">
                    <i class="fa fa-file"></i>
                  </a>
                </td>
                {% for key, value in object.items %}
                  {% if key != "documento_id" %}
                    <td>{{ value|formatter }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
    <script src='{% static "assets/pages/jquery.toastr.js" %}'></script>
    {% include 'tools/js_datatable_print_excel_titulo.html' %}
{% endblock %}