{% extends 'layout.html' %}
{% load humanize %}
{% load to_space %}
{% load formatter %}
{% load staticfiles %}

{% block css %}
  {% include 'tools/css/datatable.html' %}
  {% include 'tools/css/tooltipster.html' %}
{% endblock %}

{% block contenido %}
<div class="panel panel-border panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{ submodule.name }} de {{cuenta}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" >

          <table class="table table-striped anopa display nowrap" style="width:100%">
            <thead>
              <tr>
                <th width="20"></th>
                {% for title in titles %}
                  {% if not title in "documento_id,cuenta_id" %}
                    <th>{{title|to_space|capfirst}}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% block table_body %}{% endblock %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
    {% include 'tools/js/datatable.html' %}
    {% include 'tools/js/tooltipster.html' %}
{% endblock %}