{% load staticfiles %}
{% load formatter %}

<script>
$(document).ready(function () {

    if($("#donut_chart").length){
        var myChart = echarts.init(document.getElementById('donut_chart'));
  
        var idx = 1;
        var option_dt = {
  
          timeline : {
            show: false,
            data : ['06-16','05-16','04-16'],
            label : {
              formatter : function(s) {
                return s.slice(0, 5);
              }
            },
            x:10,
            y:null,
            x2:10,
            y2:0,
            width:200,
            height:50,
            backgroundColor:"rgba(0,0,0,0)",
            borderColor:"#eaeaea",
            borderWidth:0,
            padding:0,
            controlPosition:"left",
            autoPlay:true,
            loop:true,
            playInterval:2000,

  
          },
  
          options : [
            {
              color: ['#dddddd','#64c5b1','#414b4f','#ee4b82','#45bbe0'],
              tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
              },
              legend: {
                show: false,
                x: 'left',
                orient:'vertical',
                padding: 0,
                data:['R - EXPENSAS COMUNES','R - CESTO DE BASURA','R - GAS CONEXION DOMICILIARIA','R - GAS GABINETE','OTROS']
              },

  
              series : [
                {
                  name:'06-16',
                  type:'pie',
                  radius : [20, '80%'],
                  roseType : 'none',
                  center: ['50%', '45%'],
                  width: '50%',       // for funnel
                  itemStyle : {
                    normal : { label : { show : true }, labelLine : { show : true } },
                    emphasis : { label : { show : false }, labelLine : {show : false} }
                  },
                  data:[{value: 35,  name:'R - EXPENSAS COMUNES'}, {value: 16,  name:'R - CESTO DE BASURA'}, {value: 27,  name:'R - GAS CONEXION DOMICILIARIA'}, {value: 29,  name:'R - GAS GABINETE'}, {value: 12,  name:'OTROS'}]
                }
              ]
            },
  
          ]
        };
  
        myChart.setOption(option_dt);
  
  
      }




})
</script>



