{% extends 'contents/list-objects.html' %}
{% load to_space %}
{% load humanize %}
{% load staticfiles %}

{% block table_body %}
  {% for object in objects %}
    <tr>
      <td class="text-center">
          <a href="{% url 'front:proveedores:cuenta' pk=object.id %}" title="Ver detalle de {{module_handler}}" class="btn btn-icon btn-bordered tooltip-animation btn-primary btn-xs">
              <i class="fa fa-address-card"></i>
          </a>                  
          <a href="{% url 'front:proveedores:estado-deudas' object.id %}" title="Detalle de deudas" class="btn btn-icon btn-bordered btn-info tooltip-animation btn-xs">
              <i class="fa fa-money"></i>
          </a>
          <a href="{% url 'front:proveedores:estado-cuenta' object.id %}" title="Cuenta histórica" class="btn btn-icon btn-bordered btn-purple tooltip-animation btn-xs">
              <i class="fa fa-bars"></i>
          </a>
      </td>
      {% for key, value in object.items %}
        {% if key != "id" %}
          <td>{{ value|default:"" }}</td>
        {% endif %}
      {% endfor %}                     
        <td class="text-center">
          <a href="{% url 'front:proveedores:cbte-create' %}?cuenta_pk={{object.id}}&tipo_cbte=factura" title="Hacer factura" class="btn btn-icon btn-bordered tooltip-animation btn-custom btn-xs">
              + F
          </a>
          <a href="{% url 'front:proveedores:cbte-create' %}?cuenta_pk={{object.id}}&tipo_cbte=nota-credito" title="Hacer nota de crédito" class="btn btn-icon btn-bordered tooltip-animation btn-custom btn-xs">
              +NC
          </a>                    
          <a href="{% url 'front:proveedores:cbte-create' %}?cuenta_pk={{object.id}}&tipo_cbte=recibo" title="Hacer orden de pago" class="btn btn-icon btn-bordered tooltip-animation btn-custom btn-xs">
              +OP
          </a>
      </td>        
    </tr>
  {% endfor %}
{% endblock %}