{% extends 'raiz.html' %}
{% load staticfiles %}

{% block titulo %}
  Registro de consorcios
{% endblock %}

{% block css %}
  <link rel="stylesheet" href='{% static "plugins/datatables/jquery.dataTables.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/buttons.bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/dataTables.bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/bootstrap-daterangepicker/daterangepicker.css" %}'>
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="consorcios" bhijo1="registro" %}
{% endblock %}

{% block header %}
  Registro de consorcios
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-3">
    {% include 'superusuario/consorcios/barra.html' %}
  </div>
  <div class="col-md-9">
    <div class="card-box">
      {% include 'comunes/filtro.html' %}
      <br>      
      <div class="table-responsive">
      {% include 'superusuario/consorcios/tabla.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script src='{% static "plugins/datatables/jquery.dataTables.min.js" %}'></script>
  <script src='{% static "plugins/datatables/dataTables.bootstrap.js" %}'></script>
  <script src='{% static "plugins/datatables/dataTables.buttons.min.js" %}'></script>
  <script src='{% static "plugins/datatables/buttons.bootstrap.min.js" %}'></script>
  <script src='{% static "plugins/datatables/jszip.min.js" %}''></script>
  <script src='{% static "plugins/datatables/vfs_fonts.js" %}''></script>
  <script src='{% static "plugins/datatables/buttons.html5.min.js" %}''></script>
  <script src='{% static "plugins/datatables/buttons.print.min.js" %}''></script>

  <script src='{% static "plugins/moment/moment.js" %}'></script>
  <script src='{% static "plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}'></script>
  <script src='{% static "plugins/bootstrap-daterangepicker/daterangepicker.js" %}'></script>
  <script>
    $(function () {
      var handleDataTableButtons = function() {
              "use strict";
              0 !== $("#anopa").length && $("#anopa").DataTable({
                  dom: "Bfrtip",
                  buttons: [{
                      extend: "excel",
                      className: "btn-sm"
                  }, {
                      extend: "print",
                      className: "btn-sm"
                  }],
                  responsive: !0,
                  ordering: false,
              })
          },
          TableManageButtons = function() {
              "use strict";
              return {
                  init: function() {
                      handleDataTableButtons()
                  }
              }
          }();            
      TableManageButtons.init();
      $('#input-daterange-datepicker').daterangepicker({
          buttonClasses: ['btn', 'btn-sm'],
          applyClass: 'btn-success',
          cancelClass: 'btn-default',
          locale: {
              format: 'YYYY-MM-DD',
              applyLabel: 'Aplicar',
              cancelLabel: 'Limpiar',
              fromLabel: 'Desde',
              toLabel: 'Hasta',
              separator: " / ",
              customRangeLabel: 'Seleccionar rango',
              daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                  'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
                  'Diciembre'],
              firstDay: 1
          }
      });
    });

  </script>  
{% endblock %}