{% extends 'registration/raiz.html' %}
{% block titulo %}Login{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" action="" method="POST">{% csrf_token %}
        {% for field in form %}
          <div class="form-group m-b-20">
              {% if field.name == "password" %}
                <a href="{% url 'password_reset' %}" class="text-muted pull-right"><small>Olvidaste tu contraseña?</small></a>
              {% endif %}
              <label for="{{field.id}}">{% if field.name == "username" %}Usuario{% else %}Contraseña{% endif %}</label>
              <input type="{% if field.name == "username" %}text{% else %}password{% endif %}" class="form-control" name="{{ field.name }}" id="{{field.id}}" required="" placeholder="">
          </div>
        {% endfor %}


        <div class="form-group text-center m-t-10">
          <div class="col-xs-12">
            <button class="btn btn-md btn-block btn-info waves-effect waves-light" type="submit">Ingresar</button>
            <hr>
          </div>
        </div>

      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 text-center">
      <p class="text-muted">No tenes una cuenta? <a href="{% url 'signup' %}" class="text-dark m-l-5"><b>Registrate!</b></a></p>
    </div>
  </div>
{% endblock %}
