{% extends 'registration/raiz.html' %}
{% block titulo %}Cambio de password{% endblock %}
{% block content %}
  <p class="text-center">
    <i class="fa fa-check"></i> Hemos enviado por correo electrónico las instrucciones para configurar su nueva password. <br>
    Si existe en nuestra base de datos una cuenta con el correo electrónico que ingresó debería recibirlo en breve.
  </p>
  <p class="text-center">
  	<i class="fa fa-warning"></i>
    Si no recibe un correo electrónico, 
    asegúrese de haber ingresado la dirección con la que se encuentra registrado en nustra base de datos, consulte con el administrador del consorcio. <br>
    (No se olvide de revisar su carpeta de spam).
  </p>
{% endblock %}
